footer.footer
	.footer-top
		a.footer-top__logo(href="index.html")
			img(src="assets/images/logo.png", alt="")
		.footer-top-menu
			a.footer-top-menu__link(href="index.html") Главная
			a.footer-top-menu__link(href="catalog.html") Каталог оборудования
			a.footer-top-menu__link(href="news.html") Медиацентр
			a.footer-top-menu__link(href="about.html") О компании
			a.footer-top-menu__link(href="contacts.html") Контакты		
		.footer-top-menu-2
			.header-right-info
					a(href="tel:88122954467") +7 (812) 295-44-67
					a(href="mailto:sale@orionmedic.ru") sale@orionmedic.ru
			.footer-top-socials
				a(href="#" target="_blank")
					<svg width="27" height="16" viewBox="0 0 27 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M25.069 1.86128C24.3589 0.773307 23.5881 0.573188 22.0189 0.497086C20.4512 0.405483 16.5092 0.367432 13.0942 0.367432C9.67252 0.367432 5.7289 0.405483 4.1629 0.495677C2.5969 0.573188 1.82454 0.771898 1.10782 1.86128C0.376363 2.94784 0 4.81938 0 8.1143C0 8.11712 0 8.11853 0 8.11853C0 8.12135 0 8.12276 0 8.12276V8.12558C0 11.4064 0.376363 13.292 1.10782 14.3673C1.82454 15.4553 2.59527 15.6526 4.16126 15.7442C5.7289 15.8231 9.67252 15.8696 13.0942 15.8696C16.5092 15.8696 20.4512 15.8231 22.0205 15.7456C23.5898 15.654 24.3605 15.4567 25.0707 14.3687C25.8087 13.2934 26.1818 11.4078 26.1818 8.12699C26.1818 8.12699 26.1818 8.12276 26.1818 8.11994C26.1818 8.11994 26.1818 8.11712 26.1818 8.11571C26.1818 4.81938 25.8087 2.94784 25.069 1.86128ZM9.81816 12.3464V3.89066L18 8.11853L9.81816 12.3464Z" fill="#EA0C00"/>
					</svg>
				a(href="#" target="_blank")
					<svg width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M24.4286 2.13171C23.5304 2.493 22.5632 2.73729 21.55 2.84786C22.5847 2.28471 23.3795 1.395 23.7531 0.334286C22.7845 0.855 21.7124 1.233 20.5698 1.43486C19.6573 0.552857 18.3552 0 16.9123 0C14.1444 0 11.901 2.03529 11.901 4.545C11.901 4.90243 11.9455 5.24829 12.0303 5.58129C7.86549 5.39229 4.17347 3.58329 1.70158 0.834429C1.27044 1.503 1.02325 2.28471 1.02325 3.11786C1.02325 4.69414 1.90853 6.08529 3.25226 6.89914C2.43021 6.87471 1.65846 6.67029 0.983006 6.33086V6.38743C0.983006 8.58986 2.70902 10.4246 5.0027 10.8437C4.58161 10.9479 4.14041 11.0031 3.68196 11.0031C3.36004 11.0031 3.04531 10.9749 2.74063 10.9209C3.37729 12.726 5.22833 14.04 7.42141 14.076C5.70546 15.2949 3.54543 16.0226 1.19714 16.0226C0.791866 16.0226 0.39234 16.0007 0 15.9596C2.21751 17.2479 4.8518 18 7.68297 18C16.9023 18 21.9423 11.0751 21.9423 5.07086C21.9423 4.87414 21.9366 4.67871 21.9279 4.48457C22.9081 3.843 23.7574 3.04457 24.4286 2.133V2.13171Z" fill="#1DA1F2"/>
					</svg>
				a(href="#" target="_blank")
					<svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M6.64892 18H2.21557V9.50022H0V6.22477H2.21557V4.25989C2.21557 1.58971 3.4664 0 7.0193 0H9.97893V3.27546H8.1293C6.74651 3.27546 6.65447 3.73366 6.65447 4.58704L6.64892 6.22477H10L9.60745 9.50022H6.64892V18Z" fill="#4267B2"/>
					</svg>
	.footer-bot
		span.footer-bot__left ©2019 All rights reserved OrionMedik
		.footer-bot-right
			a(href="#") Политика конфеденциальности
			span Сделано в 
				a(href="#") ra-studio
