extends ../template

block variables
	- var title = 'О компании'

block content
	.about
		.about__banner(style="background: url('assets/images/banner-newspage.jpg') center no-repeat; background-size: cover;")
		.about-content
			h1.about-content__title Об Орион Медик
			.about-content__text ЗАО «ОРИОН МЕДИК» – российская компания, занимающаяся разработкой и производством высокотехнологичного оборудования, отвечающего современным требованиям медицины. Миссия компании - обеспечение лечебно-профилактических учреждений России, стран ближнего и дальнего зарубежья медицинской техникой отечественного производства с целью повышения уровня предоставляемых медицинских услуг и улучшения качества жизни людей.<br><br>Компания «ОРИОН МЕДИК» создана 12 апреля 1993 года. На сегодняшний день она располагает собственным конструкторским бюро, механосборочным и механообрабатывающим производством, принимает активное участие в национальных проектах и федеральных целевых программах. В 2013 году компания стала резидентом Особой экономической зоны в Санкт-Петербурге. Сейчас на территории в 1 Га на участке "Новоорловская", компания возводит свой научно-производственный комплекс площадью 7500 м.<br><br>Деятельность компании направлена на разработку и производство нового, инновационного медицинского оборудования. «ОРИОН МЕДИК» предлагает потребителям достойную альтернативу продукции европейских и китайских производителей. При активной поддержке, которую оказывает Минпромторг России российским производителям медицинской техники, компания активно идет по пути импортозамещения наиболее востребованных медизделий.<br><br>Сегодня предприятие способно предложить полный спектр оборудования для комплексного оснащения офтальмологических и гинекологических кабинетов, а также гистологических, цитологических, патанатомических лабораторий. Компания гарантирует высокое качество и надежность производимой медицинской техники и всегда стремится добиться оптимального соотношения цены и качества выпускаемой продукции.
			h2.about-content__subtitle Ключевые показатели
			.about-content__text
				ul
					li Более 50 человек в компании
					li 26 лет работы
					li Резидент Особой экономической зоны в Санкт-Петербурге
					li Компания возводит свой научно-производственный комплекс площадью 7500 м