extends ../template

block variables
	- var title = 'Новости'

block content
	.news
		h1.news__title Новости
		.news-content
			.news-content-item-wrap.big
				a.news-content-item(href="pagenews.html" style="background-image: url('assets/images/main-news1.jpg')")
					.news-content-item-top
						.news-content-item-top-date
							span.news-content-item-top-date__day 15
							span.news-content-item-top-date-wrap
								span.news-content-item-top-date__mounth Октября
								span.news-content-item-top-date__year 2017
						.news-content-item-top__category Статья
					.news-content-item-bot
						.news-content-item-bot__title Компания «ОРИОН МЕДИК» представила свою продукцию на XII Съезде Ассоциации клинических цитологов России.
						.news-content-item-bot__btn Читать
			.news-content-item-wrap.big
				a.news-content-item(href="pagenews.html" style="background-image: url('assets/images/main-news2.jpg')")
					.news-content-item-top
						.news-content-item-top-date
							span.news-content-item-top-date__day 17
							span.news-content-item-top-date-wrap
								span.news-content-item-top-date__mounth Июля
								span.news-content-item-top-date__year 2017
						.news-content-item-top__category Статья
					.news-content-item-bot
						.news-content-item-bot__title 4 июля 2017 года в Центре импортозамещения и локализации состоялась видеоконференция с представителями федеральной земли Мекленбург – Передней Померании.
						.news-content-item-bot__btn Читать
			.news-content-item-wrap.small
				a.news-content-item(href="pagenews.html" style="background-image: url('assets/images/main-news2.jpg')")
					.news-content-item-top
						.news-content-item-top-date
							span.news-content-item-top-date__day 17
							span.news-content-item-top-date-wrap
								span.news-content-item-top-date__mounth Июля
								span.news-content-item-top-date__year 2017
						.news-content-item-top__category Статья
					.news-content-item-bot
						.news-content-item-bot__title НВК «Узэкспоцентр» вновь открыла свои двери для посетителей выставки TIHE.
						.news-content-item-bot__btn Читать
			.news-content-item-wrap.big
				a.news-content-item(href="pagenews.html" style="background-image: url('assets/images/main-news2.jpg')")
					.news-content-item-top
						.news-content-item-top-date
							span.news-content-item-top-date__day 17
							span.news-content-item-top-date-wrap
								span.news-content-item-top-date__mounth Июля
								span.news-content-item-top-date__year 2017
						.news-content-item-top__category Статья
					.news-content-item-bot
						.news-content-item-bot__title 4 июля 2017 года в Центре импортозамещения и локализации состоялась видеоконференция с представителями федеральной земли Мекленбург – Передней Померании.
						.news-content-item-bot__btn Читать
			.news-content-item-wrap.small
				a.news-content-item(href="pagenews.html" style="background-image: url('assets/images/main-news2.jpg')")
					.news-content-item-top
						.news-content-item-top-date
							span.news-content-item-top-date__day 17
							span.news-content-item-top-date-wrap
								span.news-content-item-top-date__mounth Июля
								span.news-content-item-top-date__year 2017
						.news-content-item-top__category Статья
					.news-content-item-bot
						.news-content-item-bot__title НВК «Узэкспоцентр» вновь открыла свои двери для посетителей выставки TIHE.
						.news-content-item-bot__btn Читать
		.news__more Показать еще